.App {
  width: 100vw;
  height: 100vh;
}

.location-card{
  width: 18rem;
}
.findme-btn-container{
  bottom: 5% !important;
}

.d-table{
  display: table;
  margin: 0 auto;
  position: relative;
}

.d-table > *{
  position: fixed;
  left: -50%;
}


